body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

#console {
  font-family: courier, monospace;
  color: #fff;
  width: 100%;
  margin: 20px auto;
  font-size: 14px;
  box-sizing: border-box;
}

a {
  color: #0bc;
  text-decoration: none;
}

#a {
  color: #0f0;
}

#c {
  color: #0bc;
}

#b {
  color: #ff0096;
}

#k {
  animation: change 1s;
}

#op {
  color: #888888;
}


@media (max-width: 600px) {
  #console {
    font-size: 12px;
    padding: 10px;
  }

  #a, #c, #b, #k {
    font-size: 12px;
  }
}


@keyframes change {
  0%  { color:  #0f0; }
  50% { color:  #0f0; }
  99% { color: black; }
}
